/*------------------------------*\

    #CLASS

\*------------------------------*/
/* ANIMATION */
@keyframes slideUpOpacity {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
/* TRANSITIONS */
.transition {
  transition: all 0.2s ease-in-out;
}

/* CLEARFIX */
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* LIST RESET */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* BASIC STATES */
.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.is-none {
  display: none !important;
}

.is-muted {
  opacity: 0.3;
}

.has-pointer {
  cursor: pointer;
}

.al-c {
  text-align: center;
}

.img-reponsive {
  width: 100%;
}

.anim-out {
  opacity: 0;
  transform: scale(0);
}

/* BREAKPOINTS */
/* COLORS */
/* Layout */
/* Nav */
/* Box - Border */
/* Typos */
/* Typos sizes */
/*------------------------------*\

    #FORMS

\*------------------------------*/
form#soumettre_projet fieldset,
form#contact_ep fieldset {
  border: 0;
  margin-bottom: 0 !important;
  padding: 0;
}
form#soumettre_projet fieldset:not(:first-child),
form#contact_ep fieldset:not(:first-child) {
  margin-top: 4rem;
}
form#soumettre_projet label,
form#contact_ep label {
  display: block;
  margin-bottom: 1rem;
}
form#soumettre_projet label .block,
form#contact_ep label .block {
  display: block;
}
form#soumettre_projet label .require-form,
form#contact_ep label .require-form {
  color: red;
  margin-left: 3px;
  font-family: "avantgarde", Arial;
  font-weight: 700;
}
form#soumettre_projet label.error,
form#contact_ep label.error {
  color: red;
  font: 700 14px "Roboto", sans-serif;
  margin-top: 1rem;
}
form#soumettre_projet textarea,
form#contact_ep textarea {
  min-height: 100px;
}
form#soumettre_projet input[type=text],
form#soumettre_projet input[type=email], form#soumettre_projet textarea,
form#contact_ep input[type=text],
form#contact_ep input[type=email],
form#contact_ep textarea {
  border-radius: 3px;
  border: 1px solid #777777;
  display: block;
  width: 100%;
  padding: 1rem;
}
form#soumettre_projet input[type=radio],
form#soumettre_projet input[type=text],
form#soumettre_projet input[type=email], form#soumettre_projet textarea,
form#soumettre_projet .radio__label,
form#contact_ep input[type=radio],
form#contact_ep input[type=text],
form#contact_ep input[type=email],
form#contact_ep textarea,
form#contact_ep .radio__label {
  font: 400 14px "Roboto", sans-serif;
}
form#soumettre_projet select,
form#contact_ep select {
  background: #65aa04;
  color: #fff;
  padding: 1rem 2rem;
  font: 400 14px "Roboto", sans-serif;
  cursor: pointer;
}
form#soumettre_projet button#submit,
form#contact_ep button#submit {
  margin-top: 0;
  margin-bottom: 4rem;
}
form#soumettre_projet .radio__label,
form#contact_ep .radio__label {
  color: #777777;
}
form#soumettre_projet .section-title,
form#contact_ep .section-title {
  font-weight: 700;
}
form#soumettre_projet .h4,
form#contact_ep .h4 {
  margin-top: 0;
}
form#soumettre_projet .hide-item, form#soumettre_projet .sub-hide-item, form#soumettre_projet input[type=text].sub-hide-item,
form#contact_ep .hide-item,
form#contact_ep .sub-hide-item,
form#contact_ep input[type=text].sub-hide-item {
  display: none;
}
form#soumettre_projet .cmxform label.error,
form#contact_ep .cmxform label.error {
  color: #F30;
  display: none;
}

.wrap-input-select, .wrap-input-select--left {
  display: flex;
  justify-content: space-between;
}
.wrap-input-select input, .wrap-input-select--left input {
  margin-right: 2rem;
}
.wrap-input-select .fakeInput, .wrap-input-select--left .fakeInput {
  width: 0;
  height: 38px;
  display: block;
}

.wrap-input-select--left {
  justify-content: flex-start;
}

#source_energie_detail {
  margin-top: 1rem;
}

#source_energie_detail, #autre_collectif {
  margin-bottom: 1rem;
}

input {
  outline: 0;
}

.notification .notif-form .valid-submit-form, .notification .notif-form .error-submit-form {
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  padding: 1rem 2rem;
}
.notification .notif-form .error-submit-form {
  background-color: #eb6c1d;
}
.notification .notif-form .valid-submit-form {
  background-color: #65aa04;
}
